div.main{
    width:400px;
    margin:100px auto 0px auto;
}
h2{
    text-align : center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    font-size: 18px;
    border-radius:10px;
    border:1px solid rgba(225,225,225,0.3);
    
}